@import 'reset';
@import 'typography';
@import 'colors';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:first-child {
    margin-top: 50px;
  }
  .app__buttons,
  .app__forms {
    display: flex;
    justify-content: center;
    width: 100%;
    & > * {
      margin: 1rem;
    }
  }
}
$indentation: 1rem;
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__left {
    margin-left: $indentation;
    display: flex;
    align-items: center;
    p {
      color: $gray;
    }
    img {
      width: 100px;
    }
  }
  .header__right {
    margin-right: $indentation;
    position: relative;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      margin-right: 1rem;
    }
    .header__right-top {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: $accent-primary;
      }
    }
    .header__right-bottom {
      position: absolute;
      top: 25px;
    }
  }
}

.search-container {
  > * {
    margin: 0 0.5rem;
  }
}

.add-container {
  .buttons {
    > * {
      margin: 0.5rem;
    }
  }
  .add-person-form,
  .add-group-form {
    width: 80vw;
  }
}

$grid-cols-desktop: repeat(4, 1fr);
.results-message-container {
  // Establishes a constant card size
  // currently causing issues with spinner
  // div:first-child {
  //   min-height: 60vh;
  // }
  .no-results-message {
    h2 {
      color: $gray;
      font-style: italic;
    }
  }
  .results-container {
    .results__categories {
      display: grid;
      grid-template-columns: $grid-cols-desktop;
    }
    .results-grid a {
      text-decoration: none;
      color: $black;
      width: 100%;
    }

    .result {
      width: 100%;
      display: grid;
      grid-template-columns: $grid-cols-desktop;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: $accent-primary;
        color: $white;
      }
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
