@import 'reset';
@import 'typography';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:first-child {
    margin-top: 50px;
  }
  .app__buttons,
  .app__forms {
    display: flex;
    justify-content: center;
    width: 100%;
    & > * {
      margin: 1rem;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    display: flex;
    align-items: center;
    img {
      width: 100px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    p {
      margin-right: 1rem;
    }
  }
}

$grid-cols-desktop: repeat(4, 1fr);
.results-container {
  .results__categories {
    display: grid;
    grid-template-columns: $grid-cols-desktop;
  }

  .result {
    width: 100%;
    display: grid;
    grid-template-columns: $grid-cols-desktop;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #74b9ff;
      color: #fff;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
