@import 'reset';
@import 'typography';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:first-child {
    margin-top: 50px;
  }
  .app__buttons,
  .app__forms {
    display: flex;
    justify-content: center;
    width: 100%;
    & > * {
      margin: 1rem;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.results-grid {
  width: 50%;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
