# https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml/
service: party-api

plugins:
   - serverless-appsync-plugin
   - serverless-pseudo-parameters
   - serverless-stack-output

# lambda layers
# https://epsagon.com/development/aws-lambda-layers-getting-started-guide/#:~:text=Lambda%20Layers%20are%20a%20pretty,and%20managed%20by%20third%20parties
# https://www.serverless.com/framework/docs/providers/aws/guide/layers/
# 1. layers? knex as a layer?
# 2. include layer node_modules
# NOTE: I wasn't able to exclude party-api node_modules and include node-postgres layer node_modules,
# all or nothing is included
# package:
#   exclude:
#     - node_modules/**
#   include:
#     - node-postgres/**

package:
  exclude:
    - node_modules/**

provider:
  name: aws
  runtime: nodejs12.x
  profile: default
  region: ${opt:region, 'us-east-1'}
  role: { Fn::GetAtt: [LambdaDefaultExecutionRole, Arn] }
  environment: # Service wide environment variables
    USER: ${self:custom.dbCreds.username}
    PASSWORD: ${self:custom.dbCreds.password}
    HOST: ${self:custom.dbCreds.host}
    PORT: ${self:custom.dbCreds.port}
    DATABASE: ${self:custom.dbCreds.dbname}

functions:
  getAuthors:
    handler: src/functions/authors/getAuthors.getAuthors
  getBooks:
    handler: src/functions/books/getBooks.getBooks
  getCountries:
    handler: src/functions/country/getCountries.getCountries
    environment:
     NODE_PATH: "./:/opt/node_modules"
    layers:
      # - {Ref: NodePostgresLambdaLayer}
      - arn:aws:lambda:us-east-1:454247646323:layer:NodePostgresLayer:2
  getMajorGenres:
    handler: src/functions/genre/getMajorGenres.getMajorGenres
  getMinorGenres:
    handler: src/functions/genre/getMinorGenres.getMinorGenres  
    
# layers:
#   nodePostgres:
#     path: resources/layers/node-postgres

custom:
  accountId: #{AWS::AccountId}  
  stage: ${opt:stage, 'dev'}
  # https://www.serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-using-aws-secrets-manager
  dbCreds: ${ssm:/aws/reference/secretsmanager/mydb-postgres~true}
  output:
    file: ../client/src/stack.json
  appSync:
    name: ${self:service}-${self:custom.stage}    
    authenticationType: AMAZON_COGNITO_USER_POOLS
    userPoolConfig:
      awsRegion: ${self:provider.region}
      defaultAction: ALLOW
      userPoolId:  { Ref: CognitoUserPool } 
    logConfig:
      loggingRoleArn: { Fn::GetAtt: [AppSyncLoggingServiceRole, Arn] }
      level: ALL
    defaultMappingTemplates: # default templates. Useful for Lambda templates that are often repetitive. Will be used if the template is not specified in a resolver      
      # respone: false # my.response.template.tpl # or e.g.: false for Direct lambdas
      request: false # my.request.template.tpl # or, e.g: false for Direct lambdas
    mappingTemplates:      
      - dataSource: getAuthorsDS
        type: Query #Query, Mutation, Subscription
        field: authors
        response: false # this is weird - defaultMappingTemplates.request value is pulled correctly, 
        # however defaultMappingTemplates.response is not pulled and i have to set it explicitly
      - dataSource: getBooksDS
        type: Query
        field: books        
        response: false
      - dataSource: getCountriesDS
        type: Query
        field: countries        
        response: false
      - dataSource: getMajorGenresDS
        type: Query
        field: majorGenres        
        response: false
      - dataSource: getMinorGenresDS
        type: Query
        field: minorGenres        
        response: false
    schema: schema.graphql
    dataSources:      
      - type: AWS_LAMBDA
        name: getAuthorsDS
        config:
          lambdaFunctionArn: { Fn::GetAtt: ["GetAuthorsLambdaFunction", Arn] } # Where GraphqlLambdaFunction is the lambda function cloudformation resource created by serverless for the serverless function named graphql
          serviceRoleArn: { Fn::GetAtt: [AppSyncLambdaServiceRole, Arn] }
      - type: AWS_LAMBDA
        name: getBooksDS
        config:
          lambdaFunctionArn: { Fn::GetAtt: ["GetBooksLambdaFunction", Arn] }
          serviceRoleArn: { Fn::GetAtt: [AppSyncLambdaServiceRole, Arn] }
      - type: AWS_LAMBDA
        name: getCountriesDS
        config:
          lambdaFunctionArn: { Fn::GetAtt: ["GetCountriesLambdaFunction", Arn] }
          serviceRoleArn: { Fn::GetAtt: [AppSyncLambdaServiceRole, Arn] }
      - type: AWS_LAMBDA
        name: getMajorGenresDS
        config:
          lambdaFunctionArn: { Fn::GetAtt: ["GetMajorGenresLambdaFunction", Arn] }
          serviceRoleArn: { Fn::GetAtt: [AppSyncLambdaServiceRole, Arn] }
      - type: AWS_LAMBDA
        name: getMinorGenresDS
        config:
          lambdaFunctionArn: { Fn::GetAtt: ["GetMinorGenresLambdaFunction", Arn] }
          serviceRoleArn: { Fn::GetAtt: [AppSyncLambdaServiceRole, Arn] }


resources:
  - ${file(resources/roles.yml)}
  - ${file(resources/cognito-user-pool.yml)}
  - ${file(resources/cognito-identity-pool.yml)}
  - ${file(resources/outputs.yml)}